 <div class="page-header">
    <div class="container">
      <div class="header">
        
  <a routerLinkActive="active" routerLink="/home" >Home</a>
  <a routerLinkActive="active" routerLink="/private">Rubrica</a>
  <a routerLinkActive="active" routerLink="/music">Musica</a>
  <a routerLinkActive="active" routerLink="/http" >Http</a>

      </div>
    </div>
  </div>
a
  <div id="content">
    <div class="container">
          </div>

<div class="clear">
  <div>
      <hr>          <hr>
          <div class="container">

<div class="home">
      <router-outlet></router-outlet>
</div>

          </div>

 
