<router-outlet></router-outlet>


<section>
<div id="header-wrapper" class="header-slider">
<div class="video-background">
    <div class="video-foreground">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zDQBqaPYym0?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" frameborder="0" allowfullscreen></iframe>

   
  <form class="form" *ngIf="!authService.getUser()">
 
  <div class="">
  
      <label for="">INSERISCI I TUOI DATI</label>
  
  </div>
      <label class="UP" for="">USERNAME:</label>
  
      <input class="" name="username" #username>
  
  
  <div class="">
  
      <label for="">PASSWORD:</label>
  
      <input class="" type="password" name="password" #password>
  
  </div>
  
  <div class="alert" role="alert" *ngIf="message">
  
    {{ message }}
  
  </div>
    <button class="red" (click)="login(username.value, password.value)">
                             Submit
    </button>
        <button class='blue'  type="reset">
                             RESET
    </button>

</form>


<div class="logged" *ngIf="authService.getUser()">

    WELCOME USER <HR>
    <b>{{ authService.getUser() }}</b>
    <HR>
    CHECK YOUR <a  routerLink="/private">Rubrica</a>

    <button class="login blue"  (click)="logout()">Log out</button>
    
    </div>

 </div>
</div>
</div>
  

</section>

<section class="footer">
  COPYRIGHT BY ALYT
  P. IVA = 123456789
  </section>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="js/index.js"></script>
